body
{
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

main
{
	background-image: url("../img/background.png");
	flex: 1 0 auto;
}

button
{
	width: 100%;
}

.camera
{
	margin: 50px 50px 50px 50px;
	width: 640px;
	height: 480px;
}

.field 
{
  margin-bottom: 10px;
}

.label-white 
{
  color: white;
}

.container.is-flex 
{
  display: flex;
}

.column 
{
  flex: 1;
  margin-right: 20px;
}

.column-fourth 
{
  flex: none;
  width: 20%;
}

.column-align-right 
{
  margin-left: auto;
}

.container-slide 
{
  width: 100%;
  overflow: hidden;
}

.slider 
{
  display: flex;
  animation: scroll 20s linear infinite;
}

.slider img 
{
  width: 100%;
  height: auto;
}

@keyframes scroll 
{
  0% 
  {
    transform: translateX(0);
  }
  100% 
  {
    transform: translateX(-100%);
  }
}
