<!DOCTYPE html>

<html dir="ltr" lang="fr">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="refresh" content="5">

		<title>Ecoserre - accueil</title>

		<!-- Compiled and minified CSS -->
		<link rel="stylesheet" href="./static/css/bulma.css.map" />
		<link rel="stylesheet" href="./static/css/bulma.min.css" />
	  	<link rel="stylesheet" href="./static/css/style.css" />
		
		<link rel="icon" type="image/png" href="./static/img/favicon.png" />
	</head>

	<body>
		<!-- barre de navigation -->
		{% include "navbar.html" %}
		
		<!-- menu admin -->
		<main class="notification">
			<div class="container is-flex">
			  <div class="column">
				<form action="/" method="POST">
				  <div class="field column-fourth">
					<label class="label label-white">Lumière</label>
					<button class="button {{light_button}} btn-small" name="light" value="{{light_value}}">
						{{light_value}}
					</button>
				  </div>
				  <div class="field column-fourth">
					<label class="label label-white">Trappe</label>
					<button class="button {{hatch_button}} btn-small" name="hatch" value="{{hatch_value}}">
						{{hatch_value}}
					</button>
				  </div>
				  <div class="field column-fourth">
					<label class="label label-white">Ventilation</label>
					<button class="button {{fan_button}} btn-small" name="fan" value="{{fan_value}}">
						{{fan_value}}
					</button>
				  </div>
				</form>
			  </div>
			  
			  <div class="column">
				<div class="field column-fourth column-align-right">
				  <label class="label label-white">Température (°C)</label>
				  <input class="input input-small" type="text" value="{{temperature}}" readonly />
				</div>
				<div class="field column-fourth column-align-right">
				  <label class="label label-white">Humidité (%)</label>
				  <input class="input input-small" type="text" value="{{humidity}}" readonly />
				</div>
				<div class="field column-fourth column-align-right">
				  <label class="label label-white">Luminosité</label>
				  <input class="input input-small" type="text" value="{{light}}" readonly />
				</div>
				<div class="field column-fourth column-align-right">
				  <label class="label label-white">Pression (hPa)</label>
				  <input class="input input-small" type="text" value="{{pressure}}" readonly />
				</div>
			  </div>
			</div>
		</main>

		<!-- footer -->			
		{% include "footer.html" %}
	</body>
</html>
