<!DOCTYPE html>

<html dir="ltr" lang="fr">
	<head>
		<meta charset="utf-8" />

		<title>Ecoserre - caméra</title>

		<!-- Compiled and minified CSS -->
		<link rel="stylesheet" href="./static/css/bulma.css.map" />
		<link rel="stylesheet" href="./static/css/bulma.min.css" />
	  	<link rel="stylesheet" href="./static/css/style.css" />
		
		<link rel="icon" type="image/png" href="./static/img/favicon.png" />
	</head>

	<body>
		<!-- barre de navigation -->
		{% include "navbar.html" %}
		
		<!-- menu admin -->
		<main class="notification">
			<img class="camera" src="{{ url_for('video_feed') }}" />
		</main>

		<!-- footer -->			
		{% include "footer.html" %}
	</body>
</html>
