		<footer style="text-align:center;">
			<a href="http://validator.w3.org/check?uri=referer" title="Valid HTML 5" />
				<img src="./static/img/valid-xhtml10.png" alt="Valid HTML 5" />
			</a>
			<a href="http://jigsaw.w3.org/css-validator/validator?uri=http://" title="Valid CSS 3" />
				<img src="./static/img/valid-css10.png" alt="Valid CSS 3" />
			</a>
			<a href="https://www.python.org/" title="Python 3" />
				<img src="./static/img/python.png" alt="Python 3" />
			</a>
			<a href="https://bulma.io" title="Bulma" />
				<img src="./static/img/bulma.png" alt="Bulma" />
			</a>
		</footer>