<!DOCTYPE html>

<html dir="ltr" lang="fr">
	<head>
		<meta charset="utf-8" />

		<title>Ecoserre - journeaux</title>

		<!-- Compiled and minified CSS -->
		<link rel="stylesheet" href="./static/css/bulma.css.map" />
		<link rel="stylesheet" href="./static/css/bulma.min.css" />
	  	<link rel="stylesheet" href="./static/css/style.css" />
		
		<link rel="icon" type="image/png" href="./static/img/favicon.png" />
	</head>

	<body>
		<!-- barre de navigation -->
		{% include "navbar.html" %}
		
		<!-- menu admin -->
		<main class="notification">
			<div class="container">
			  <form action="/logs" method="post">
				<div class="field">
				  <label class="label">Choix</label>
				  <div class="control">
					<div class="select">
					  <select name="date" onchange="this.form.submit()">
						<option>Sélectionnez une date</option>
						{% for option in options %}
						<option value="{{option}}">{{option}}</option>
						{% endfor %}
					  </select>
					</div>
				  </div>
				</div>
			  </form>
			</div>
	
			<div class="container is-flex is-justify-content-center">
				<div class="container-slide">
				  <div class="slider">
					{% for image in images %}
					<img src="{{image}}?timestamp={{nocache}}" alt="{{image}}" />
					{% endfor %}
				  </div>
				</div>
			</div>
		</main>

		<!-- footer -->
		{% include "footer.html" %}
	</body>
</html>
