		<nav class="navbar">
			<div class="navbar-start">
				<a class="navbar-item" href="/"><strong>Accueil</strong></a>
			</div>
			<div class="navbar-menu">
				<div class="navbar-start">
					<a class="navbar-item" href="/camera">caméra</a>
					<a class="navbar-item" href="/logs">journeaux</a>
				</div>
			</div>
			<div class="navbar-end">
				<div class="navbar-item">
					<img src="./static/img/gplv3.png" alt="GPL" />
				</div>
			</div>		  
		</nav>